.cards .card .content h4{
    font-size: 16px;
    font-weight: 300;
    color: #414141;
}
.cards .card .content p{
    font-size: 15px;
    font-weight: 100;
    color: #8E979F;
}

.cards .card .content-bottom{
    box-shadow: 1px 1px 10px #000;
}

.cards .card{
    box-shadow: 2px 0px 4px #00000029;
    margin-bottom: 0px !important;
}