.cards .card .content h4{
    font-size: 16px;
    font-weight: 300;
    color: #414141;
}
.cards .card .content p{
    font-size: 15px;
    font-weight: 100;
    color: #8E979F;
}

.cards .card .content-bottom{
    box-shadow: 1px 1px 10px #000;
}

.cards .card{
    box-shadow: 2px 0px 4px #00000029;
    margin-bottom: 0px !important;
}


.cards .card2{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 5px #00000029;
    padding: 20px;
    margin-bottom: 40px;
}
.cards .card2 .column{
    padding: 0;
    display: flex;
}
.cards .card2 .status{
    display: block;
    border-radius: 40px;
    margin: 25% auto;
}
.cards .card2 .nao-visualizado{
    width: 10px;
    height: 10px;
    background-color: #E84323;
}
.cards .card2 .visualizado{
    background-image: url('../img/assets/Grupo\ 181.png');
    width: 20px;
    height: 10px;

}

.cards .card2 .foto{
    width: 49px;
    height: 49px;
    max-width: 49px;
    max-height: 49px;
    overflow: hidden;
    border-radius: 40px;
    display: block;
    border: 1px solid #000;
    padding: 0;
}

.cards .card2 .content{
    padding-left: 30px;

}
.cards .card2 .content h4{
    font-size: 16px;
    font-weight: 300;
    color: #414141;
}
.cards .card2 .content p{
    font-size: 15px;
    font-weight: 100;
    color: #8E979F;
}
.cards .card2 .icone img{
    position: absolute;
    right: 60px;
    transform: translateY(15px);
}
.cards .card2 .button-download{
    position: absolute;
    right: 120px;
    transform: translateY(12px);
    width: 75px;
    height: 25px;
    font-size: 9px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page{
    width: 29px;
    height: 29px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 4px;
    padding: 3px;
}
