@font-face {
    font-family: Nexa heavy;
    src: url("fonts/Nexa\ Heavy.otf") format("opentype");
}
@font-face {
    font-family: Nexa light;
    src: url("fonts/Nexa\ Light.otf") format("opentype");
}

.nexa-heavy{
    font-family: "Nexa Heavy";
}
.nexa-light{
    font-family: "Nexa Light";
}

.cards .card h4{
    margin: 0;
    font-size: 14px;
    font-weight: 800;
}
.cards .card p{
    margin: 0;
    font-size: 13px;
}
.cards .card .content a{
    color: #08CB69;
    border-bottom: 1px solid #08CB69;
    font-size: 12px;
}

.title img{
    margin-right: 10px;
}