body{
    font-family: 'Roboto';
}

.first-nav{
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

.first-nav .navbar-icon .navbar-item{
    padding: 7px 0 12px 25px;
}

.first-nav .navbar-icon .navbar-item img{
    max-width: unset;
    max-height: unset;
}

.first-nav .textos{
    color: #fff;
    text-align: right;
    padding: 10px 25px;
    line-height: 15px;
}
.first-nav .textos p{
    font-weight: 700;
    font-size: 13px;
}
.first-nav .textos span{
    font-size: 11px;
    font-weight: 300;
}
.first-nav .textos a{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.first-nav .navbar-end .textos{
    display: flex;
    flex-direction: column;
}