<!DOCTYPE html>
<html lang="eng">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
   <link href="../css/bulma.css" rel="stylesheet" />
   <link href="../css/main.css" rel="stylesheet" />
   <link rel="stylesheet" href="../css/assinaturas.css">
   <title>Document</title>
</head>

<body>
   <header>
      <nav class="navbar is-black first-nav" role="navigation" aria-label="main navigation">
         <div class="navbar-brand">
            <a class="navbar-item">
               <img src="../img/frete_gratis.svg" alt="frete gratis" width="75" height="35" />
            </a>
         </div>

         <div class="navbar-end">
            <div class="textos">
               <p>Oferta limitada para pedidos acima de R$ 300,00</p>
               <span>Válido apenas para capitais. Veja Mais</span>
            </div>
         </div>
      </nav>
   </header>


   <br />

   <section class="title-section">
      <div class="title">
         <h3>Bem vindo Pedro</h3>
         <br />
         <p>este é o seu painel administrativo. Acompanhe seus pedidos e configure sua conta através dos botões ao
            lado.
         </p>
      </div>
   </section>

   <div class="container">

      <section class="hero content">






         <div class="content-navbar">
            <ul>
               <li class="nav-item">
                  <a href="#">
                     <img src="../img/assets/Feed.png" alt="">
                     Feed
                  </a>
               </li>
               <li class="nav-item">
                  <a href="#">
                     <img src="../img/assets/Favoritos.png" alt="">
                     Favoritos
                  </a>
               </li>
               <li class="nav-item">
                  <a href="#">
                     <img src="../img/assets/conta_outline.png" alt="">
                     Perfil
                  </a>
               </li>

               <li class="nav-item">
                  <a href="">
                     <img src="../img/assets/Meus pedidos.png" alt="">
                     Meus Pedidos
                  </a>
               </li>
               <li class="nav-item">
                  <a href="">
                     <img src="../img/assets/Assinaturas.png" alt="">
                     Gerenciamento de Assinaturas
                  </a>
               </li>
               <li class="nav-item">
                  <a href="">
                     <img src="../img/assets/subscribe.png" alt="">
                     Preferências de Comunicação
                  </a>
               </li>

               <li class="nav-item">
                  <a href="">
                     <img src="../img/assets/PrazodeEntrega.png" alt="">
                     Endereço de Entrega
                  </a>
               </li>

               <li class="nav-item">
                  <a href="">
                     <img src="../img/assets/Pagamento.png" alt="">
                     Pagamento
                  </a>
               </li>
               <li class="nav-item">
                  <a href="">
                     <img src="../img/assets/Sair.png" alt="">
                     Sair
                  </a>
               </li>
            </ul>

         </div>
      </section>

      <section class="hero content">
         <div class="content assinaturas">



            <div class="list-assinaturas">
               <div class="list-title">
                  <img src="../img/assets/Grupo583.png" alt="">
                  <strong>ASSINATURAS</strong>
               </div>

               <strong>Código da assinatura</strong>
               <p>656464542214</p>
               <a href="#">cancelar assinatura</a>
            </div>



            <div class="list-historico">
               <div class="list-title">
                  <img src="../img/assets/Histórico.png" alt="">
                  <strong>HISTÓRICO</strong>
               </div>


               <div class="kit">
                  <strong>Plano escolhido:</strong>
                  <p>Abril 04/2020 - Entrega entre os dias 10 e 20 do mês de abril.</p>
               </div>
               <div class="plano">
                  <strong>Plano escolhido:</strong>
                  <p>Frequência: 15 dias Quantidade: 2 Entrega: R$0,00 Total: R$ 107,60 p/ mês</p>
               </div>

            </div>
         </div>


      </section>

   </div>
</body>




</html>
