<!DOCTYPE html>
<html lang="eng">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
   <link href="../css/bulma.css" rel="stylesheet" />
   <link href="../css/navbars.css" rel="stylesheet" />
   <link href="../css/painel.css" rel="stylesheet" />
   <link href="../css/pedidos.css" rel="stylesheet" />
   <link href="../css/helper.css" rel="stylesheet" />
   <title>Document</title>
</head>

<body>
   <header>
      <nav class="first-nav is-hidden-mobile" role="navigation" aria-label="main navigation">
         <div class="navbar-icon">
            <a class="navbar-item">
               <img src="../img/frete_gratis.svg" alt="frete gratis" width="75" height="35" />
            </a>
         </div>
         <div class="textos">
            <p>Oferta limitada para pedidos acima de R$ 300,00</p>
            <span>Válido apenas para capitais. <a>Veja Mais</a></span>
         </div>
      </nav>
      <nav class="navbar second-nav" role="navigation" aria-label="main navigation">
         <div class="navbar-brand">
            <a class="navbar-item">
               <img src="../img/assets/Logo@2x.png" width="100" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarWhite">
               <span aria-hidden="true"></span>
               <span aria-hidden="true"></span>
               <span aria-hidden="true"></span>
            </a>
         </div>

         <div id="navbarWhite" class="navbar-menu">
            <div class="navbar-start">
               <a class="navbar-item">
                  Produtos
               </a>

               <a class="navbar-item">
                  Onde Encontrar
               </a>
               <a class="navbar-item">
                  Blog
               </a>
               <a class="navbar-item">
                  Fale Conosco
               </a>


            </div>

            <div class="navbar-end">
               <div class="navbar-item">
                  <a class="navbar-item">
                     <img src="../img/assets/conta_outline.png">
                     Minha conta
                  </a>
                  <a class="navbar-item">
                     <img src="../img/assets/carrinho_outline.png">
                     Carrinho
                  </a>
                  <a class="navbar-item">
                     Sair
                  </a>
               </div>
            </div>
         </div>
      </nav>
   </header>


   <br />

   <section class="hero">
      <div class="hero-body">
         <div class="container">
            <h1 class="title">
               Bem-vindo(a) Pedro,
            </h1>
            <h2 class="subtitle">
               este é o seu painel administrativo. Acompanhe seus pedidos e configure sua conta através dos botões ao
               lado.
            </h2>
         </div>
      </div>
   </section>

   <div class="container cards">
      <div class="columns ">
         <div class="column is-3">
            <div class="card">
               <ul class="menu">
                  <li>
                     <img src="../img/assets/Feed.png">
                     <div><a href="feed.html">Feed</a>
                  </li>
                  <li>
                     <img src="../img/assets/Favoritos.png">
                     <a href="favoritos.html">&nbspFavoritos</a>

                  </li>
                  <li>
                     <img src="../img/assets/Perfil.png">
                     <a href="perfil.html">Perfil</a>
                  </li>
                  <li>
                     <img src="../img/assets/Meus pedidos.png">
                     <a href="pedidos.html" class="selected">Meus pedidos</a>
                  </li>
                  <li>
                     <img src="../img/assets/Grupo 757.png">
                     <div>
                        <a href="gerenciamento.html">Gerenciamento de Assinaturas</a>
                     </div>
                  </li>
                  <li>
                     <img src="../img/assets/PreferenciasdeComunicaçao.png">
                     <div>
                        <a href="comunicacao.html">Preferências de Comunicação</a>
                     </div>
                  </li>
                  <li>
                     <img src="../img/assets/Endereço de Entrega.png">
                     <a href="endereco.html">Endereço de Entrega</a>
                  </li>
                  <li>
                     <img src="../img/assets/Pagamento.png">
                     <a href="pagamento.html">Pagamento</a>
                  </li>
                  <li>
                     <img src="../img/assets/Sair.png">
                     <a>Sair</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="column is-5">
            <div class="title">
               <img src="../img/assets/Meus pedidos.png">
               <h3 class="has-text-weight-bold">
                  meus pedidos
               </h3>
            </div>

            <!-- START CARD -->
            <div class="box-card">

               <div class="card">
                  <div class="content">
                     <div class="imagem">
                        <img src="../img/assets/Lata Supercoffee 20 (1)@2x.png">
                     </div>
                     <div class="info">
                        <h4>SuperCoffee</h4>
                        <p>Pedido <span>#1454259</span></p>
                     </div>
                  </div>

               </div>
               <div class="card-auxiliar">
                  <div class="quantidade">
                     <p>Quantidade <span>2</span></p>
                  </div>
                  <div class="valor">
                     <p><span>R$</span> 181,96</p>
                  </div>
               </div>

            </div>

            <!-- END CARD -->

            <!-- START CARD -->
            <div class="box-card">

               <div class="card">
                  <div class="content">
                     <div class="imagem">
                        <img src="../img/assets/Lata Supercoffee 20 (1)@2x.png">
                     </div>
                     <div class="info">
                        <h4>SuperCoffee</h4>
                        <p>Pedido <span>#1454259</span></p>
                     </div>
                  </div>

               </div>
               <div class="card-auxiliar">
                  <div class="quantidade">
                     <p>Quantidade <span>2</span></p>
                  </div>
                  <div class="valor">
                     <p><span>R$</span> 181,96</p>
                  </div>
               </div>

            </div>
            <!-- END CARD -->
         </div>
         <div class="column is-4">

            <!-- START CARD -->
            <div class="box-card">
               <div class="card-auxiliar fix-title status-box">

                  <div class="title-box">
                     <p>Status</p>
                  </div>
                  <div class="status">
                     <p>Aguardando pagamento</p>
                  </div>
               </div>
               <div class="card pedido-box">
                  <div class="entrega">

                     <div class="prazo">
                        <p>Prazo Entrega</p>
                        <span>Prazo Entrega</span>
                     </div>
                     <div class="dias">

                     </div>
                  </div>
                  <div class="buttons">
                     <a class="button-white">Ver boleto</a>
                     <a>Ver pedido</a>
                  </div>
               </div>
            </div>
            <!-- END CARD -->
            <!-- START CARD -->
            <div class="box-card">
               <div class="card-auxiliar fix-title status-box">

                  <div class="title-box">
                     <p>Status</p>
                  </div>
                  <div class="status">
                     <p>Pedido Entregue</p>
                  </div>
               </div>
               <div class="card pedido-box">
                  <div class="entrega">

                     <div class="prazo">
                        <p>Prazo Entrega</p>
                        <span>Prazo Entrega</span>
                     </div>
                     <div class="dias">

                     </div>
                  </div>
                  <div class="buttons">
                     <a class="button-white">Ver boleto</a>
                     <a>Ver pedido</a>
                  </div>
               </div>
            </div>
            <!-- END CARD -->

         </div>

      </div>




   </div>
</body>




</html>